extends admin-layout

block content
    form.ui.form(method='post' action='/admin/add-article')
        .field
            label Titre de l'article
            input(type='text' name='title' required)
        .field
            label Résumé de l'article
            textarea(name='summary' required)
        .field
            label Contenu de l'article
            textarea(name='content' required)
        .field
            label Catégorie
            select(name='category')
                each category in categories
                    option(value=category._id)= category.name
        .field
            label QCM Associé
            select(name='qcm')
                each q in qcms
                    option(value=q._id)= q.title
        button.ui.button(type='submit') Ajouter l'article
