doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Votre titre
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" defer)
  body
    .ui.container
      .ui.menu
        a.item(href='/') Accueil
        a.item(href='/admin') Admin
        a.item(href='/logout') Se déconnecter
        form.ui.form(action='/search' method='get')
            .ui.icon.input
                input(type='text' placeholder='Rechercher un article...' name='query' autocomplete='off')
                i.search.icon

      block content
