doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Se connecter
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" defer)
  body
    .ui.segment
        form.ui.form(action="/login" method="POST")
            .field
                label Email
                input(type="email" name="email" placeholder="Entrez votre email")
            
            .field
                label Mot de passe
                input(type="password" name="password" placeholder="Entrez votre mot de passe")
            
            button.ui.primary.button(type="submit") Se connecter
            
            .ui.divider.horizontal Ou
            p Pas encore inscrit ? 
              a(href="/register") S'inscrire
