extends layout.pug

block content
    .ui.segment
        form.ui.form(action="/login" method="POST")
            .field
                label Email
                input(type="email" name="email" placeholder="Entrez votre email")
            
            .field
                label Mot de passe
                input(type="password" name="password" placeholder="Entrez votre mot de passe")
            
            button.ui.primary.button(type="submit") Se connecter
            
            .ui.divider.horizontal Ou
            p Pas encore inscrit ? 
              a(href="/register") S'inscrire
